a {
  text-decoration: none;
}

.d-none {
  display: none !important;
}

.container {
  margin-left: 35px;
}

.container-lg {
  margin-left: 35px;
}

.ant-col.article-col {
  max-width: 50%;
}

.img-payment {
  max-width: 20%;
  height: auto;
  margin: auto;
  cursor: pointer;
}

.img-payment:hover {
  border: 2px solid #1890ff;
}

.empty {
  position: relative;
  top: 200px;
}

@media screen and (max-width: 600px) {
  .container-lg {
    margin-left: 0;
  }
  .ant-col.article-col {
    max-width: 100%;
    padding: 20px;
  }
}
